{{ define "title" }}{{ .Site.Title }}{{ end }}

{{ define "main" }}
<main class="main">
  <div class="not-found">
    <h1 class="h1 title">404</h1>
    <h6 class="h6 subtitle">Page not found</h6>
    <h1 class="error-emoji"></h1>
    <p class="error-link"><a href="{{ "/" | relLangURL }}">↑ Back Home ↑</a></p>
  </div>
</main>
<script>
    var errorEmojiContainer = document.getElementsByClassName('error-emoji')[0];
    var emojiArray = [
      '\\(o_o)/', '(o^^)o', '(˚Δ˚)b', '(^-^*)', '(≥o≤)', '(^_^)b', '(·_·)',
      '(=\'X\'=)', '(>_<)', '(;-;)', '\\(^Д^)/',
    ];
    var errorEmoji = emojiArray[Math.floor(Math.random() * emojiArray.length)];
    errorEmojiContainer.appendChild(document.createTextNode(errorEmoji));
  </script>
{{ partial "script/home-script" . }}
{{ end }}