{{ $jquery := resources.Get "js/jquery.min.js" | resources.Fingerprint }}
<script defer src="{{ $jquery.RelPermalink }}"></script>
{{ $lazysizes := resources.Get "js/lazysizes.min.js" | resources.Fingerprint }}
<script defer src="{{ $lazysizes.RelPermalink }}"></script>
{{ $main := resources.Get "js/main.js" | resources.Minify | resources.Fingerprint }}
<script defer src="{{ $main.RelPermalink }}"></script>

<script>
  window.onload = function() {
    // search
    runSearch();

    // counter
    {{ $enableBusuanzi := .Site.Params.enableBusuanzi }}
    var enableBusuanzi = JSON.parse({{ $enableBusuanzi | jsonify }});
    if (enableBusuanzi) {
      $('#busuanzi_value_site_uv').digits();
      $('#busuanzi_value_site_pv').digits();
    }
  }
</script>